.container {
    width: 500px;
    margin: auto;
}

.searchLabel {
    margin-top: 40px;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.searchInput {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 5px;
}

.concactList {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}
